<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>Главная страница</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Finder</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="navbar-link"><a href="/user_cabinet">Личный кабинет</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form id="log_out_form" th:action="@{/logout}" method="post">
                </form>
                <li class="navbar-link"><a href="#" id="log_out">Выйти</a></li>
                <script>
                    $("#log_out").on("click", function ()
                    {
                        $("#log_out_form").submit();
                    });
                </script>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 th:inline="text">Здравствуйте [[${user.firstname}]]!</h1>
    <div th:if="${message} != null">
        <label class="text-info">[[${message}]]</label>
    </div>
    <div th:if="${user.getUniversity()} != null">
        <h1 id="uniTitleText" th:text="${user.getUniversity().getTitle()}">HEX</h1>
        <input type="edit" id="edit" value="" hidden/>
        <h1>Специализации:</h1>
        <div th:if="${user.getUniversity().getSpecializations() != null and user.getUniversity().getSpecializations().size() != 0}">
            <th:block th:each="specialization : ${user.getUniversity().getSpecializations()}">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="col-sm-1 spectitle" th:text="${specialization.getTitle()}"></td>
                            <th:block th:each="condition : ${specialization.getConditions()}">
                                <td class="col-sm-1" th:if="${condition} != null" th:text="${condition.getSubject().toString()}">Предмет</td>
                                <td class="col-sm-1" th:if="${condition} != null" th:text="${condition.getPointsCount()}">Баллы</td>
                            </th:block>
                        </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
        <a th:href="@{/add_specialization}">Добавить специализацию</a>
    </div>
    <script>
        var clicked = false;
        var oldValue;
        $("#uniTitleText").on("click", function(){
            if(!clicked)
            {
                $("#uniTitleText").hide();
                oldValue = $("#uniTitleText")[0].textContent;
                $("#edit")[0].value = oldValue;
                $("#edit").show();
                $("#edit").focus();
                clicked = true;
            }
        });
        $(window).keydown(function (event)
        { //ловим событие нажатия клавиши
            if (event.keyCode == 13 && clicked)
            { //если это Enter
                $('#edit').blur(); //снимаем фокус с поля ввода
                var text = $("#edit")[0].value;
                $("#edit").hide();
                $("#uniTitleText")[0].textContent = text;
                $("#uniTitleText").show();
                $.post("/change_uni_title", {title: text});
                clicked = false;
            }
        });
    </script>
    <div th:if="${user.getUniversity()} == null">
        <div id="uniBrowser">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-3">Название</th>
                    <th class="col-md-3">Адрес</th>
                    <th class="col-md-3">Номер телефона</th>
                    <th class="col-md-3">Профиль</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="university : ${universities}">
                    <tr>
                        <td class="col-md-3 unititle" th:text="${university.getTitle()}"></td>
                        <td class="col-md-3" th:text="${university.getAddress()}"></td>
                        <td class="col-md-3" th:text="${university.getNumber()}"></td>
                        <td class="col-md-3" th:text="${university.getProfile()}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <form id="formOut" th:action="@{/university_info}" method="post">
            <input id="formValue" type="hidden" name="title" />
        </form>
    </div>
    <form id="fform" th:action="@{/change_spec}" method="get">
        <input id="ttitle" name="title" type="hidden">
    </form>
    <script>
        $(".unititle").on("click", function (a)
        {
            var title = a.target.innerText;
            $("#formValue").prop("value", title);
            $("#formOut").submit();
        });
        $(".spectitle").on("click", function (a) {
            $("#ttitle")[0].value = a.target.textContent;
            $("#fform").submit();
        });
    </script>
</div>
</body>
</html>