<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Finder</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="navbar-link"><a href="/user_cabinet">Личный кабинет</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form id="log_out_form" th:action="@{/logout}" method="post">
                </form>
                <li class="navbar-link"><a href="#" id="log_out">Выйти</a></li>
                <script>
                    $("#log_out").on("click", function ()
                    {
                        $("#log_out_form").submit();
                    });
                </script>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 th:inline="text">Здравствуйте [[${user.firstname}]]!</h1>
    <div th:if="${message} != null">
        <label class="text-info">[[${message}]]</label>
    </div>
    <div th:if="${user.getUniversity()} != null">
        <h1 id="uniTitleText" th:text="${user.getUniversity().getTitle()}">HEX</h1>
        <input type="edit" id="edit" value="" hidden/>
        <h1>Специализации:</h1>
        <div th:if="${user.getUniversity().getSpecializations() != null and user.getUniversity().getSpecializations().size() != 0}">
            <th:block th:each="specialization : ${user.getUniversity().getSpecializations()}">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td class="col-sm-1 spectitle" th:text="${specialization.getTitle()}"></td>
                            <th:block th:each="condition : ${specialization.getConditions()}">
                                <td class="col-sm-1" th:if="${condition} != null" th:text="${condition.getSubject().toString()}">Предмет</td>
                                <td class="col-sm-1" th:if="${condition} != null" th:text="${condition.getPointsCount()}">Баллы</td>
                            </th:block>
                        </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
        <a th:href="@{/add_specialization}">Добавить специализацию</a>
    </div>
    <script>
        var clicked = false;
        var oldValue;
        $("#uniTitleText").on("click", function(){
            if(!clicked)
            {
                $("#uniTitleText").hide();
                oldValue = $("#uniTitleText")[0].textContent;
                $("#edit")[0].value = oldValue;
                $("#edit").show();
                $("#edit").focus();
                clicked = true;
            }
        });
        $(window).keydown(function (event)
        { //ловим событие нажатия клавиши
            if (event.keyCode == 13 && clicked)
            { //если это Enter
                $('#edit').blur(); //снимаем фокус с поля ввода
                var text = $("#edit")[0].value;
                $("#edit").hide();
                $("#uniTitleText")[0].textContent = text;
                $("#uniTitleText").show();
                $.post("/change_uni_title", {title: text});
                clicked = false;
            }
        });
    </script>
    <div th:if="${user.getUniversity()} == null">
        <div id="uniBrowser">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-3">Название</th>
                    <th class="col-md-3">Адрес</th>
                    <th class="col-md-3">Номер телефона</th>
                    <th class="col-md-3">Профиль</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                <!--<th:block th:each="university : ${universities}">
                    <tr>
                        <td class="col-md-3 unititle" th:text="${university.getTitle()}"></td>
                        <td class="col-md-3" th:text="${university.getAddress()}"></td>
                        <td class="col-md-3" th:text="${university.getNumber()}"></td>
                        <td class="col-md-3" th:text="${university.getProfile()}"></td>
                    </tr>
                </th:block>-->
                </tbody>
            </table>
            <input id="prev_page" type="button" value="Пердыудщая страница"/>
            <input id="next_page" type="button" value="Следующая страница"/>
            <label>Элементов на странице: <input id="lim" type="number" value="10" min="1" max="100"/></label>
            <br/>
            <label>Фильтр по количеству баллов на специальность: <input id="maxTotalScore" type="number" placeholder="Максимальное кол-во баллов" min="1" max="1000"/></label>
            <input id="maxTotalScoreButton" type="button" value="Искать">
        </div>
        <form id="formOut" th:action="@{/university_info}" method="post">
            <input id="formValue" type="hidden" name="title" />
        </form>
    </div>
    <form id="fform" th:action="@{/change_spec}" method="get">
        <input id="ttitle" name="title" type="hidden">
    </form>
    <script>
    </script>
    <script>
        var lim = 10;
        var uniList;
        var currentPage = 1;
        var totalPages = 0;
        var totalUnis = 0;
        var isUniMode = false;
        //Нужно получить все данные ajax запросом
        async function getPagedUniList(page, limit)
        {
            var locData;
            await $.ajax({
                url: "/get_uni_page",
                type: "POST",
                data: JSON.stringify({
                    page: page,
                    limit: limit
                }),
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    locData = data;
                }
            });
            return locData;
        }
        async function getAllUniList()
        {
            var locData;
            await $.ajax({
                url: "/get_all_uni",
                type: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data)
                {
                    locData = data;
                }
            });
            return locData;
        }

        async function getFiltredUniList(score)
        {
            var locData;
            await $.ajax({
            url: "/get_uni_score",
            type: "POST",
            data: JSON.stringify({
                total_spec_score: score
            }),
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (data)
            {
                locData = data;
            }
        });
            return locData;
        }

        async function getTotalPages(limit)
        {
            var locData;
            await $.ajax({
                url: "/get_total_pages",
                type: "POST",
                data: JSON.stringify({
                    limit: limit
                }),
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    locData = data;
                }
            });
            return locData;
        }
        async function getTotalUnis()
        {
            var locData;
            await $.ajax({
                url: "/get_total_count",
                type: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function (data) {
                    locData = data;
                }
            });
            return locData;
        }
        function buildUniBrowser(list)
        {
            $("#tableBody")[0].innerHTML = "";
            for(var i in list)
            {
                $("#tableBody")[0].
                innerHTML += "<tr>" +
                    "<td class='col-md-3 unititle'>" + list[i].title + "</td>" +
                "<td class='col-md-3'>" + list[i].address + "</td>" +
                "<td class='col-md-3'>" + list[i].number + "</td>" +
                "<td class='col-md-3'>" + list[i].profile + "</td>" +
                    "</tr>";
            }
        }

        function hookUniTitle()
        {
            $(".unititle").on("click", function (a) {
                var title = a.target.innerText;
                $("#formValue").prop("value", title);
                $("#formOut").submit();
            });
        }

        function hook(isUniMode)
        {
            if(!isUniMode) {
                hookUniTitle();
                $("#lim").on("change", function(){
                    lim = $("#lim")[0].value;
                    updateBrowser(true);
                });
                $("#next_page").on("click", function() {
                    if(currentPage < totalPages) currentPage++;
                    else currentPage = 1;
                    updateBrowser(true);
                });
                $("#prev_page").on("click", function() {
                    if(currentPage > 1) currentPage--;
                    else if(currentPage < 1) currentPage = 1;
                    updateBrowser(true);
                });
                $("#maxTotalScoreButton").on("click", async function(){
                    uniList = await getFiltredUniList($("#maxTotalScore")[0].value);
                    updateBrowser(false);
                });
            }
            else {
                $(".spectitle").on("click", function (a) {
                    $("#ttitle")[0].value = a.target.textContent;
                    $("#fform").submit();
                });
            }
        }

        async function receiveData()
        {
            totalPages = await getTotalPages(lim);
            totalUnis = await getTotalUnis();
            if(currentPage > totalPages)
            {
                var mod = totalUnis - (totalPages * lim);
                if (mod > 0)
                {
                    uniList = await getPagedUniList(currentPage-1, lim);
                }
                else
                {
                    return;
                }
            }
            else
            {
                uniList = await getPagedUniList(currentPage - 1, lim);
            }
        }

        async function updateBrowser(upd)
        {
            if(isUniMode) return;
            if(upd === true) await receiveData();
            buildUniBrowser(uniList);
            hookUniTitle();
        }

        $(document).ready(async function ()
        {
            if(document.getElementsByClassName("spectitle").length !== 0)
            {
                isUniMode = true;
                hook(isUniMode);
                return;
            }
            updateBrowser(true);
            hook(isUniMode);
        });
    </script>
</div>
</body>
</html>